{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Catalogo - Dias festivos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'DF_nuevo' %}" data-id="{{ Festivos.idfestivos }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Nuevo Registro</a>
        </div>
    </div>
</div>
<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table table-striped table-bordered table-hover table-sm small">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Festivos in festivos %}
                <tr>
                    <td>{{Festivos.idfestivos}}</td>
                    <td>{{Festivos.fecha|date:'d/m/Y'}}</td>
                    <td>{{Festivos.descripcion}}</td>
                    <td class="text-center">
                        <div>
                            <a data-url="{% url 'DF-editar' Festivos.pk %}" data-id="{{ Festivos.idfestivos }}" class="btn btn-sm editar-modal"><img class="alignnone" data-feather="edit-2"></a>
                            <a data-url="{% url 'DF-eliminar' Festivos.pk %}" data-id="{{ Festivos.idfestivos }}" class="btn btn-sm eliminar-modal"><img class="alignnone" data-feather="trash"></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin Registros</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}