{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Checador</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'horario-nuevo' %}" data-id="{{ horario.id }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Checar Empleado</a>
        </div>
    </div>
</div>
<br>
<!--Filtro-->
<div class="border-bottom">
    <form action="{% url 'horario_filtro' %}" id="filtro-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Hora de entrada</th>
                <th>Hora de salida</th>
                <th>Observaciones</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Checador in checador %}
                <tr>
                    <td>{{Checador.personal.nombre_completo}}</td>
                    <td>{{Checador.fecha|date:'d/m/Y'}}</td>
                    <td>{{Checador.hora_entrada|date:'H:i'}}</td>
                    <td>{{Checador.hora_salida|date:'H:i'}}</td>
                    <td>{{Checador.observaciones}}</td>
                    <td class="text-center">
                        <div>
                            <a data-url="{% url 'horario-editar' Checador.pk %}" data-id="{{ Checador.id }}" class="btn btn-sm editar-modal"><img class="alignnone" data-feather="edit-2"></a>
                            <a data-url="{% url 'horario-eliminar' Checador.pk %}" data-id="{{ Checador.id }}" class="btn btn-sm eliminar-modal"><img class="alignnone" data-feather="trash"></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin Entradas</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}