<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'favicon.png'%}">
	
		<title>IEEBC - Asistencia</title>
		
		{% load django_bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

		<link href="{% static 'sidebar.css'%}" rel="stylesheet">

	</head>
<body>

	<!------------- NavBar ---------->

	<nav class="navbar navbar-expand-md navbar-dark fixed-top sticky-top" style="background-color: #782484;">
		<div class="container-fluid">
			
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="navbar-brand" href="{% url 'home' %}">
						<img src="{% static 'logo_iee.svg'%}" height="30" class="d-inline-block align-top" alt="">
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav mx-auto">
				<li class="nav-item">
					<a class="navbar-brand mx-auto" href="{% url 'home' %}">Asistencia</a>
				</li>
			</ul>	

			<ul class="nav navbar-nav">
				{% if request.user.is_authenticated %}
					<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next=/">Cerrar Sesión</a></li>
				{% endif %}							
			</ul>
		</div>
	</nav>

	

	<div class="container-fluid">
		<div class="row">
			<!------------- Sidebar ---------->
			{% block sidebarcontent %}
				{% include 'rechumanos/sidebar.html' %}
			{% endblock %}

			
			<!------------- Main ---------->

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

				<!------------- Mensajes ---------->
				{% if messages %}
					<div class="pt-3">
						{% bootstrap_messages %}
					</div>
				{% endif %}
				
					
			
				<!------------- Contenido ---------->
				{% block content %}
				{% endblock content %}  
			</main>
			
		</div>
	</div>

	<!------------- Container ---------->
	
	
	<!-- /.main -->

	<!------------- Modal ---------->
	<div id="modaldiv"></div>

	<!------------- Final Scripts ---------->
	<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
	<script src="{% static 'modals.js'%}" type="text/javascript"></script>

</body>
</html>