<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">

        <!-- Principales -->
        <ul class="nav flex-column">
           <li class="nav-item">
                <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                    <span data-feather="home"></span>                    
                    Inicio
                </a>
            </li>
        </ul>
        <!--CATALOGOS-->
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Catálogos</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'personales_filtro' %}active{% endif %}" href="{% url 'personales_filtro' %}">
                    <span data-feather="user"></span>
                    Empleados
                </a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'DF_all' %}active{% endif %}" href="{% url 'DF_all' %}">
                    <span data-feather="gift"></span>
                    Dias festivos
                </a>
            </li>
        </ul>
         <!--CAPTURAS-->
         <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Procesos</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'mixto' %}active{% endif %}" href="{% url 'mixto' %}">
                    <span data-feather="clock"></span>
                    Horarios mixtos
                </a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'viajes_filtro' %}active{% endif %}" href="{% url 'viajes_filtro' %}">
                    <span data-feather="map"></span>
                    Viajes
                </a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'faltas_filtro' %}active{% endif %}" href="{% url 'faltas_filtro' %}">
                    <span data-feather="user-minus"></span>
                    Faltas
                </a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'festivos' %}active{% endif %}" href="{% url 'festivos' %}">
                    <span data-feather="gift"></span>
                    Dias festivos - Personal
                </a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'horario_filtro' %}active{% endif %}" href="{% url 'horario_filtro' %}">
                    <span data-feather="clock"></span>
                    Checador
                </a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'permisos_filtro' %}active{% endif %}" href="{% url 'permisos_filtro' %}">
                    <span data-feather="thumbs-up"></span>
                    Permisos
                </a>
            </li>
        </ul>         
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'permutas' %}active{% endif %}" href="{% url 'permutas' %}">
                    <span data-feather="repeat"></span>
                    Permutas
                </a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'vacaciones' %}active{% endif %}" href="{% url 'vacaciones' %}">
                    <span data-feather="navigation"></span>
                    Vacaciones
                </a>
            </li>
        </ul>               
    </div>
</nav>