{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">permisos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'permiso-nuevo' %}" data-id="{{ permisos.id }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Nuevo Permiso</a>
        </div>
    </div>
</div>
<br>
<!--Filtro-->
<div class="border-bottom">
    <form action="{% url 'permisos_filtro' %}" id="filtro-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Tipo de horario</th>
                <th>Hora</th>
                <th>Hora de regreso</th>
                <th>observaciones</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for permisos in permisos %}
                <tr>
                    <td>{{permisos.personal.nombre_completo}}</td>
                    <td>{{permisos.fecha|date:'d/m/Y'}}</td>
                    <td>{{permisos.tipo}}</td>
                    <td>{{permisos.hora}}</td>
                    <td>{{permisos.hora_regreso}}</td>
                    <td>{{permisos.observaciones}}</td>
                    <td class="text-center">
                        <div>
                            <a data-url="{% url 'permiso-editar' permisos.pk %}" data-id="{{ permisos.id }}" class="btn btn-sm editar-modal"><img class="alignnone" data-feather="edit-2"></a>
                            <a data-url="{% url 'permiso-eliminar' permisos.pk %}" data-id="{{ permisos.id }}" class="btn btn-sm eliminar-modal"><img class="alignnone" data-feather="trash"></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin permisos</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}