{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Empleados</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'personal-nuevo' %}" data-id="{{ personal.id }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Nuevo Empleado</a>
        </div>
    </div>
</div>
<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table table-striped table-bordered table-hover table-sm small">
        <thead class="table-dark ">
            <tr>
                <th>No. Empleado</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Puesto</th>
                <th>Ingreso</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personales %}
                <tr>
                    <td>{{personal.codigoempleado}}</td>
                    <td>{{personal.nivel}}</td>
                    <td>{{personal.nombre_completo}}</td>
                    <td>{{personal.iddepartamento}}</td>
                    <td>{{personal.puesto}}</td>
                    <td>{{personal.fecha_ingreso|date:'d/m/Y'}}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a data-url="{% url 'personal-editar' personal.pk %}" data-id="{{ personal.id }}" class="btn btn-warning btn-sm editar-modal">Modificar</a>
                            <a data-url="{% url 'personal-eliminar' personal.pk %}" data-id="{{ personal.id }}" class="btn btn-danger btn-sm eliminar-modal">Eliminar</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin empleados</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}