{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Empleados</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'personal-nuevo' %}" data-id="{{ personal.id }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Nuevo Empleado</a>
        </div>
    </div>
</div>
<br>
<!--Filtro-->
<div class="border-bottom">
    <form action="{% url 'personales_filtro' %}" id="filtro-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>No. Empleado</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Puesto</th>
                <th>Ingreso</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personales %}
                <tr>
                    <td>{{personal.codigoempleado}}</td>
                    <td>{{personal.nivel}}</td>
                    <td>{{personal.nombre_completo}}</td>
                    <td>{{personal.iddepartamento}}</td>
                    <td>{{personal.puesto}}</td>
                    <td>{{personal.fecha_ingreso|date:'d/m/Y'}}</td>
                    <td class="text-center">
                        <div>
                            <a data-url="{% url 'personal-editar' personal.pk %}" data-id="{{ personal.id }}" class="btn btn-sm editar-modal"><img class="alignnone" data-feather="edit-2"></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin empleados</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}