{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Viajes</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'viaje-nuevo' %}" data-id="{{ viajes.id }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Nuevo Viaje</a>
        </div>
    </div>
</div>
<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table table-striped table-bordered table-hover table-sm small">
        <thead class="table-dark">
            <tr>
                <th>Empleado</th>
                <th>Fecha de inicio</th>
                <th>Fecha de terminacion</th>
                <th>Lugar</th>
                <th>Otro</th>
                <th>Observaciones</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for viajes in viajes %}
                <tr>
                    <td>{{viajes.personal}}</td>
                    <td>{{viajes.fecha_inicio|date:'d/m/Y'}}</td>
                    <td>{{viajes.fecha_terminacion|date:'d/m/Y'}}</td>
                    <td>{{viajes.lugar}}</td>
                    <td>{{viajes.otro}}</td>
                    <td>{{viajes.observaciones}}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a data-url="{% url 'viaje-editar' viajes.pk %}" data-id="{{ viajes.id }}" class="btn btn-warning btn-sm editar-modal">Modificar</a>
                            <a data-url="{% url 'viaje-eliminar' viajes.pk %}" data-id="{{ viajes.id }}" class="btn btn-danger btn-sm eliminar-modal">Eliminar</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin viajes</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}