{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Vacaciones</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'vacaciones-nuevo' %}" data-id="{{ Vacaciones.id }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Nuevo registro</a>
        </div>
    </div>
</div>
<br>
<!--Filtro-->
<div class="border-bottom">
    <form action="{% url 'vacaciones' %}" id="filtro-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Empleado</th>
                <th>Fecha Captura</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Observaciones</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Vacaciones in vacaciones %}
                <tr>
                    <td>{{Vacaciones.personal.nombre_completo}}</td>
                    <td>{{Vacaciones.fechah_captura|date:'d/m/Y'}}</td>
                    <td>{{Vacaciones.fecha_inicio|date:'d/m/Y'}}</td>
                    <td>{{Vacaciones.fecha_termino|date:'d/m/Y'}}</td>
                    <td>{{Vacaciones.observaciones}}</td>
                    <td class="text-center">
                        <div>
                            <a data-url="{% url 'vacaciones-editar' Vacaciones.pk %}" data-id="{{ Vacaciones.id }}" class="btn btn-sm editar-modal"><img class="alignnone" data-feather="edit-2"></a>
                            <a data-url="{% url 'vacaciones-eliminar' Vacaciones.pk %}" data-id="{{ Vacaciones.id }}" class="btn btn-sm eliminar-modal"><img class="alignnone" data-feather="trash"></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin capturas registradas</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}