{% load crispy_forms_tags %}

{{ form.media }}

<div class="modal fade" data-bs-backdrop="static" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <form method="post" action="{% url 'vacaciones-editar' Vacaciones.pk %}" id="editar-form" autocomplete="off">
        {% csrf_token %}

        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editarModalLabel">Modificar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    {% crispy form %}
                </div>
    
                <div class="modal-footer">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="submit" class="btn btn-secondary" style="background-color: #782484; border-color: #782484;">Guardar</button>
                    </div>            
                </div>
            </div>
        </div>
    </form>
</div>