{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Dias festivos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'festivo-nuevo' %}" data-id="{{ Vi_vac_inc.id }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Nuevo registro</a>
        </div>
    </div>
</div>
<br>
<!--Filtro-->
<div class="border-bottom">
    <form action="{% url 'festivos' %}" id="filtro-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Motivo</th>
                <th>Otro</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Vi_vac_inc in festivos %}
                <tr>
                    <td>{{Vi_vac_inc.personal.nombre_completo}}</td>
                    <td>{{Vi_vac_inc.fecha|date:'d/m/Y'}}</td>
                    <td>{{Vi_vac_inc.concepto}}</td>
                    <td>{{Vi_vac_inc.motivo}}</td>
                    <td>{{Vi_vac_inc.otros}}</td>
                    <td class="text-center">
                        <div>
                            <a data-url="{% url 'festivo-editar' Vi_vac_inc.pk %}" data-id="{{ Vi_vac_inc.id }}" class="btn btn-sm editar-modal"><img class="alignnone" data-feather="edit-2"></a>
                            <a data-url="{% url 'festivo-eliminar' Vi_vac_inc.pk %}" data-id="{{ Vi_vac_inc.id }}" class="btn btn-sm eliminar-modal"><img class="alignnone" data-feather="trash"></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin capturas registradas</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}