{% extends 'rechumanos/base_sidebar.html' %}
{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">Horarios mixtos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'mixto-nuevo' %}" data-id="{{ HorarioMixto.id }}" class="btn btn-secondary nuevo-modal" style="background-color: #782484; border-color: #782484;">Nuevo Registro</a>
        </div>
    </div>
</div>
<br>
<!--Filtro-->
<div class="border-bottom">
    <form action="{% url 'mixto' %}" id="filtro-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>

<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Empleado</th>
                <th>tipo</th>
                <th>fecha</th>
                <th>hora_inicio</th>
                <th>hora_termina</th>
                <th>observaciones</th>
                <th class="text-center" style="width:15%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for HorarioMixto in mixto %}
                <tr>
                    <td>{{HorarioMixto.personal.nombre_completo}}</td>
                    <td>{{HorarioMixto.tipo}}</td>
                    <td>{{HorarioMixto.fecha|date:'d/m/Y'}}</td>
                    <td>{{HorarioMixto.hora_inicio|date:'H:i'}}</td>
                    <td>{{HorarioMixto.hora_termina|date:'H:i'}}</td>
                    <td>{{HorarioMixto.observaciones}}</td>
                    <td class="text-center">
                        <div>
                            <a data-url="{% url 'mixto-editar' HorarioMixto.pk %}" data-id="{{ HorarioMixto.id }}" class="btn btn-sm editar-modal"><img class="alignnone" data-feather="edit-2"></a>
                            <a data-url="{% url 'mixto-eliminar' HorarioMixto.pk %}" data-id="{{ HorarioMixto.id }}" class="btn btn-sm eliminar-modal"><img class="alignnone" data-feather="trash"></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-light">Sin Registros</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}